<!-- sponsor_images.html -->
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<a href="sponsor1-url"><img src="assets/img/arctic-1.jpg" alt="Sponsor 1"></a>
<a href="sponsor2-url"><img src="assets/img/arctic-2.jpg" alt="Sponsor 2"></a>
<!-- Add more sponsor images as needed -->
