/*
  Site container
*/

.container {
  width: $container-width; // Set the width of the container
  margin-left: auto; // Automatically align the container to the left
  margin-right: auto; // Automatically align the container to the right
}
.container a {
  text-decoration: underline; // Underline links inside the container
}
.content-wrapper {
  padding-top: $header-thickness+10px; // Add padding to the top of the content wrapper
  margin: auto; // Automatically center the content wrapper horizontally
  display: block; // Display the content wrapper as a block-level element
  width: calc(80% - 160px); // Calculate the width of the content wrapper
}
.content-wrapper h1 {
  margin: 20px 0px 5px; // Set margins for h1 elements inside the content wrapper
}
@media (max-width: $container-width) {
  .container {
    width: 75vw; // Set the width of the container to 95% of the viewport width
    margin-left: auto; // Automatically align the container to the left
    margin-right: auto; // Automatically align the container to the right
  }
  .content-wrapper {
    padding-top: $header-thickness+10px; // Add padding to the top of the content wrapper
    margin: auto; // Automatically center the content wrapper horizontally
    display: block; // Display the content wrapper as a block-level element
    width: 75vw; // Set the width of the content wrapper to 95% of the viewport width
  }
}
