// Sidebar Styles

.sidebar {
  width: 160px; // Set sidebar width to 200px
  position: relative;
  top: 56px; // Adjust according to your header height
  bottom: 0;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 99; // Ensure it's behind the header
  overflow-y: auto; // Allow scrolling if needed
  display: flex; // Use flexbox for centering
  flex-direction: column; // Set flex direction to column
  align-items: center; // Center items horizontally

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
  }

  .sponsor-images {
    width: 90%; // Set width of sponsor images container to 90% of sidebar width
    max-width: 160px; // Set maximum width of sponsor images container to 160px
    display: flex; // Use flexbox for centering
    flex-direction: column; // Set flex direction to column
    align-items: center; // Center items horizontally

    a {
      display: block;
      margin-bottom: 10px;
    }

    img {
      max-width: 90%;
      height: auto;
      max-height: 150px; // Adjust the maximum height as needed for your design
      display: block; // Ensure that images are displayed as blocks
    }
  }
}

// Responsiveness
@media (max-width: 180px) {
  .sidebar {
    width: 100%;
    height: auto;
    top: 56px; // Adjust according to your header height
  }
}
