// Sidebar Styles

.sidebar {
  width: 20%;
  max-width: 160px; // Set sidebar width to 160px
  position: fixed; // Fix the position of the sidebar
  top: 56px; // Adjust the top position according to your header height
  bottom: 0;
  background-color: white; // Set the background color of the sidebar
  box-shadow: 0 5px 6px -6px #bbb; // Apply a box shadow to the sidebar
  z-index: 99; // Ensure the sidebar is behind the header
  //overflow-y: auto; // Allow vertical scrolling if needed
  display: flex; // Use flexbox for layout
  flex-direction: column; // Arrange items vertically
  align-items: center; // Center items horizontally

  h3 {
    font-size: 18px; // Set the font size for h3 elements
    font-weight: bold; // Apply bold font weight to h3 elements
    margin: 10px; // Set margin around h3 elements
  }

  .sponsor-images {
    width: 95%; // Set width of sponsor images container to 90% of sidebar width
    max-width: 160px; // Set maximum width of sponsor images container to 160px
    display: flex; // Use flexbox for layout
    flex-direction: column; // Arrange items vertically
    align-items: center; // Center items horizontally

    a {
      display: block; // Display anchor elements as blocks
      margin-bottom: 10px; // Add margin below each anchor element
    }

    img {
      max-width: 95%; // Set maximum width of images to 90% of container width
      height: auto; // Allow images to adjust their height automatically
      max-height: 150px; // Set maximum height of images to 150px
      display: block; // Display images as blocks
    }
  }
}

// Responsiveness
@media (max-width: 180px) {
  .sidebar {
    width: 100%; // Set sidebar width to 100% when viewport width is 180px or less
    height: auto; // Allow the sidebar height to adjust automatically
    top: 56px; // Adjust the top position according to your header height
  }
   h3 {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
